@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fcfbf9;
  /* Cream-50ish */
  --foreground: #1c4835;
  /* Green-900 */

  --font-inter: 'Inter', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}